@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  /*.dark{
    --background: 200.4 100% 95%;
    --foreground: 200.4 5% 10%;
    --card: 200.4 50% 90%;
    --card-foreground: 200.4 5% 15%;
    --popover: 200.4 100% 95%;
    --popover-foreground: 200.4 100% 10%;
    --primary: 200.4 98% 39.4%;
    --primary-foreground: 0 0% 100%;
    --secondary: 200.4 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 162.4 30% 85%;
    --muted-foreground: 200.4 5% 35%;
    --accent: 162.4 30% 80%;
    --accent-foreground: 200.4 5% 15%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 200.4 5% 90%;
    --border: 200.4 30% 50%;
    --input: 200.4 30% 26%;
    --ring: 200.4 98% 39.4%;
    --radius: 0rem;
  }
  :root  {
    --background: 200.4 50% 10%;
    --foreground: 200.4 5% 90%;
    --card: 200.4 50% 10%;
    --card-foreground: 200.4 5% 90%;
    --popover: 200.4 50% 5%;
    --popover-foreground: 200.4 5% 90%;
    --primary: 200.4 98% 39.4%;
    --primary-foreground: 0 0% 100%;
    --secondary: 200.4 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 162.4 30% 25%;
    --muted-foreground: 200.4 5% 60%;
    --accent: 162.4 30% 25%;
    --accent-foreground: 200.4 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 200.4 5% 90%;
    --border: 200.4 30% 26%;
    --input: 200.4 30% 26%;
    --ring: 200.4 98% 39.4%;
    --radius: 0rem;
  }*/

  :root {
    --background: 191.6 100% 95%;
    --foreground: 191.6 5% 10%;
    --card: 191.6 50% 90%;
    --card-foreground: 191.6 5% 15%;
    --popover: 191.6 100% 95%;
    --popover-foreground: 191.6 100% 10%;
    --primary: 191.6 91.4% 36.5%;
    --primary-foreground: 0 0% 100%;
    --secondary: 191.6 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 153.6 30% 85%;
    --muted-foreground: 191.6 5% 35%;
    --accent: 153.6 30% 80%;
    --accent-foreground: 191.6 5% 15%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 191.6 5% 90%;
    --border: 191.6 30% 50%;
    --input: 191.6 30% 26%;
    --ring: 191.6 91.4% 36.5%;
    --radius: 0rem;
  }
  .dark {
    --background: 191.6 50% 10%;
    --foreground: 191.6 5% 90%;
    --card: 191.6 50% 10%;
    --card-foreground: 191.6 5% 90%;
    --popover: 191.6 50% 5%;
    --popover-foreground: 191.6 5% 90%;
    --primary: 191.6 91.4% 36.5%;
    --primary-foreground: 0 0% 100%;
    --secondary: 191.6 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 153.6 30% 25%;
    --muted-foreground: 191.6 5% 60%;
    --accent: 153.6 30% 25%;
    --accent-foreground: 191.6 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 191.6 5% 90%;
    --border: 191.6 30% 26%;
    --input: 191.6 30% 26%;
    --ring: 191.6 91.4% 36.5%;
    --radius: 0rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
